.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-width: 361px;
  --search-top-spacer: 9px;
  --search-bottom-width: 52px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 10;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-space);
}
.search,
.search-result {
  width: var(--search-width);
}
.search {
  height: var(--search-height);
  background-color: #1618230f;
  border-radius: var(--search-border-radius);
  border: 1px solid transparent;
  position: relative;

  display: flex;
  align-items: center;
  input {
    padding: 0 0 0 16px;
    flex: 1;
    height: 100%;
    color: var(--clr-black);
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--clr-primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: #161823bf;
  }
  &::after {
    content: "";
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-bottom-width);
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: #1618231f;
  }
  &:focus-within {
    border-color: #1618231f;
  }
}
.search-title {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #16182380;
}
.clear,
.loading {
  position: absolute;
  right: calc(var(--search-bottom-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: #16182357;
}
.search-btn {
  width: var(--search-bottom-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  cursor: pointer;
  color: #16182357;
  &:hover {
    background-color: #16182308;
  }
  &:active {
    background-color: #1618230f;
  }
}
.custom-login {
  color: rgba(22, 24, 35, 0.75);
}
//Actions
.actions {
  display: flex;
  align-items: center;
}
.action-btn {
  background-color: transparent;
  font-size: 2.2rem;
  color: var(--clr-text-primary);
  padding: 4px 12px;
  position: relative;
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100rem;
  object-fit: cover;
  margin-left: 12px;
  cursor: pointer;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}
.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-white);
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
}
